
body {
    font-family: Arial, Helvetica, sans-serif;
}

.cajatop{
    height: 100%;
    width: 100%;
}

section.caja1{
    display: inline-block;
    background-color: white;
    position:relative;
    left:314px;
    width:max-content;
    height: max-content;
}

section.caja2{
    background-color: rgb(43, 182, 187);
    height:1300px;
    width:320px;
    display: inline-block;
    position: relative;
    bottom: 40px;
    right: 750px;
    z-index: 2;
    
    
}

h1 {
    font-family:'Roboto', sans-serif;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

h2 {
    background-image: url(../img/barraSimple.png);
    background-repeat: no-repeat;
    background-size: auto;
    height: 50px;
    width: 100%;
    color:white;
    font-weight: bold;
    text-align: center;
}

h3.contacto {
    position: relative;
    margin-top: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
}

img.iconos{
    display: inline-block;
    position: relative;
    height: -40%;
    width: -40%;
    left: -40px;
    margin-top: 0px;
}

span.texticono{
    color: white;
    font-size: 92%;
    position: relative;
    bottom: 25px;
    left: -10%;
}

h3.sk{
    position: relative;
    margin-top: 40px;
    margin-bottom: 30px;
    color: white;
    font-weight: bold;
    text-align: center;
}

ul.softskill {
    color:white;
    line-height: 30px;
}

.qr{
    position: relative;
    top: 30px;
    left: 55px;
    max-height: 250px;
}